NUXT_PUBLIC_LEMONADE_BASE_URL=http://localhost:8000
NUXT_PUBLIC_LEMONADE_WS_URL=ws://localhost:9000
NUXT_PUBLIC_LEMONADE_MODEL=Gemma-3-4b-it-GGUF
NUXT_PUBLIC_LEMONADE_WHISPER_MODEL=Whisper-Base
NUXT_PUBLIC_LEMONADE_TTS_MODEL=kokoro-v1
